name: Tests

on:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  vitest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate coverage report
        run: pnpm test:coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: vitest-coverage
          path: coverage
          retention-days: 7
